@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-[26px] md:text-3xl 2xl:text-5xl font-bold;
    color: #6500e0;
    font-weight: 700;
  }

  .btn {
    @apply text-base 2xl:text-xl font-semibold px-4 py-2 rounded-lg duration-300 hover:scale-110 my-shadow2;
    transition: all 0.7s;
    color: #fff;
    background: #6500e0;
    border: none;
  }

  .btn:hover {
    color: #6500e0;
    background: transparent;
    outline: 1px solid #6500e0;
  }
}

.my-shadow {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 5px rgba(255, 255, 255, 0.8);
}

.my-shadow2 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
    -5px -5px 5px rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar {
  display: none;
}

.move {
  background: #6500e0;
}

.swing {
  animation: swing 2s linear infinite alternate-reverse;
}

@keyframes swing {
  0% {
    transform: translate(-1rem, -0.5rem);
  }
  100% {
    transform: translate(1rem, 0.5rem);
  }
}

.button {
  color: #6500e0;
}

.skill {
  background: transparent;
  border-radius: 50%;
}

.skill-shadow {
  scale: 1.1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.5s;
}

.skill-shadow:hover {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
